@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: "League Spartan", sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* hazır kodlarım */

.full-page {
    background-color: #f8f8fb;
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 730px;
    margin: 0 auto; 
}

.opacity {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.open-bar {
    width: 650px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    left: -650px;
    transition: all .2s;
    z-index: 1;
    border-radius: 0 16px 16px 0;
    padding: 60px 60px 60px 90px;
    > form {
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > h1 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: #0C0E16;
        }
        > h3 {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            color: #7C5DFA;
        }
        > button {
            background-color: #7C5DFA;
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            color: #fff;
            letter-spacing: 1px;
            border: none;
            padding: 16px;
            border-radius: 4px;
            cursor: pointer;
        }
        > button:hover {
            background-color: #9277FF;
        }
    }
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    > p {
        font-size: 13px;
        line-height: 15px;
        color: #7E88C3;
        font-weight: 500;
    }
    > input {
        width: 100%;
        padding: 15px 18px;
        font-size: 15px;
        line-height: 15px;
        font-weight: 700;
        color: #0C0E16;
        border: 1px solid #DFE3FA;
        border-radius: 4px;
    }
}

.form-3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}

.form-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.left-bar {
    z-index: 2;
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: #373b53;
    border-radius: 0 32px 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-bar-purple-box {
    background-color: #7c5dfa;
    width: 100px;
    height: 103px;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.left-bar-moon-and-user {
    display: flex;
    flex-direction: column;
    gap: 1px;
    > div {
        width: 100px;
        height: 103px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        > button {
            background-color: transparent;
            border: none;
        }
    }
    > div:first-child {
        border-bottom: 2px solid #494E6E;
    }
}

.right {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
}

.all-invoices {
    display: flex;
    flex-direction: column;
    gap: 64px;
    > header {
        display: flex;
        justify-content: space-between;
    }
    > main {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.invoice-item {
    box-shadow: 0px 10px 10px -10px #48549F1A;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    height: 72px;
    gap: 16px;
    padding: 0 32px;
    background-color: #fff;
    border-radius: 16px;
    > h1 {
        letter-spacing: 1px;
        font-size: 15px;
        line-height: 15px;
        font-weight: 700;
        color: #7E88C3;
        > span {
            color: #0c0e16;
        }
    }
    > p {
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 15px;
        font-weight: 500;
        color: #888EB0;
    }
    > h3 {
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 24px;
        color: #0c0e16;
    }
    > div {
        display: flex;
        gap: 20px;
        > div {
            width: 104px;
            height: 40px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            justify-content: center;
            > p {
                font-size: 15px;
                line-height: 15px;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
        > button {
            background-color: transparent;
            border: none;
        }
    }
}

.green-bg {
    background-color: #f3fcf9;
}

.green-color {
    color: #33D69F;
}

.orange-bg {
    background-color: #FFf8f0;
}

.orange-color {
    color: #FF8F00;
}

.brand-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    > h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 33.12px;
        letter-spacing: -1.13px;
    }
    > p {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: -0.1px;
        color: #888EB0;
    }
}

.filter-and-new-invoices {
    display: flex;
    gap: 40px;
    align-items: center;
    > select {
        background-color: transparent;
        border: none;
        font-size: 15px;
        font-weight: 700;
        padding: 5px;
        outline: none;
    }
    > button {
        background-color: #7c5dfa;
        padding: 8px 16px 8px 8px;
        border: none;
        cursor: pointer;
        display: flex;
        gap: 16px;
        align-items: center;
        border-radius: 32px;
        > p {
            font-size: 15px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 1px;
            color: #fff;
        }
    }
    > button:hover {
        background-color: #9277FF;
    }
}

.invoice-page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    > a {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 15px;
        line-height: 1;
        color: #0C0E16;
        font-weight: 700;
        > img {
            transform: rotate(180deg);
            margin-bottom: 3px;
        }
    }
    > a:hover {
        text-decoration: underline;
    }
    > header {
        background-color: #fff;
        padding: 24px 32px;
        border-radius: 8px;
        box-shadow: 0px 10px 10px -10px #48549F1A;
        display: flex;
        justify-content: space-between;
        > div {
            display: flex;
            align-items: center;
            gap: 20px;
            > p {
                font-size: 13px;
                line-height: 15px;
                font-weight: 500;
                color: #858BB2;
                letter-spacing: 1px;
            }
            > button {
                font-size: 15px;
                line-height: 15px;
                font-weight: 700;
                letter-spacing: 1px;
                color: #fff;
                padding: 18px 24px;
                border-radius: 32px;
                border: none;
                cursor: pointer;
            }
            > button:hover {
                opacity: 0.9;
            }
            > div {
                width: 104px;
                height: 40px;
                display: flex;
                align-items: center;
                border-radius: 8px;
                justify-content: center;
                > p {
                    font-size: 15px;
                    line-height: 15px;
                    font-weight: 700;
                    letter-spacing: 1px;
                }
            }
            
        }
    }
    > main {
        background-color: #fff;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0px 10px 10px -10px #48549F1A;
        > h1 {
            font-size: 15px;
            font-weight: 700;
            line-height: 24px;
            color: #888EB0;
            letter-spacing: 1px;
            margin-bottom: 6px;
            > span {
                color: #0C0E16;
            }
        }
        > p {
            font-size: 13px;
            line-height: 15px;
            font-weight: 500;
            color: #7E88C3;
            letter-spacing: 1px;
        }
    }
}

.invoice-details {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
    > div {
        display: flex;
        flex-direction: column;
        gap: 12px;
        > p {
            font-size: 13px;
            line-height: 15px;
            font-weight: 500;
            color: #7E88C3;
            letter-spacing: 1px;
        }
        > h6 {
            font-size: 15px;
            line-height: 20px;
            color: #0C0E16;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
}

.invoice-results {
    box-shadow: 0px 10px 10px -10px #48549F1A;
    border-radius: 8px 8px 0 0;
    padding: 32px;
    background-color: #F9FAFE;
    display: flex;
    flex-direction: column;
    gap: 32px;
    > div {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        > h6 {
            font-size: 13px;
            line-height: 18px;
            font-weight: 500;
            color: #7E88C3;
            letter-spacing: 1px;
        }
        > h3 {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            color: #0C0E16;
            letter-spacing: 1px;
        }
        > h4 {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            color: #7E88C3;
            letter-spacing: 1px;
        }
    }
}

.invoice-total {
    box-shadow: 0px 10px 10px -10px #48549F1A;
    background-color: #373B53;
    border-radius: 0 0 8px 8px;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > p {
        font-size: 13px;
        line-height: 18px;
        font-weight: 500;
        color: #fff;
        letter-spacing: 1px;
    }
    > h1 {
        font-size: 24px;
        line-height: 32px;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
    }
}

.modal {
    width: 480px;
    height: 250px;
    background-color: #fff;
    border-radius: 8px;
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px;
    > h1 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #0C0E16;
    }
    > p {
        font-size: 13px;
        line-height: 22px;
        font-weight: 500;
        color: #888EB0;
    }
    > div {
        display: flex;
        gap: 8px;
        justify-content: end;
        > button {
            font-size: 15px;
            line-height: 15px;
            font-weight: 700;
            letter-spacing: 1px;
            border-radius: 32px;
            padding: 15px 24px;
            border: none;
            cursor: pointer;
        }
    }
}

@media (width < 890px) {

    .left-bar {
        width: 100%;
        height: 80px;
        top: 0;
        border-radius: 0 0 16px 16px;
        flex-direction: row;
    }

    .left-bar-purple-box {
        width: 80px;
        height: 80px;
    }

    .left-bar-moon-and-user {
        flex-direction: row;
        > div {
            width: 80px;
            height: 80px;
        }
        > div:first-child {
            border: none;
            border-right: 1px solid #7E88C3;
        }
    }

    .open-bar {
        height: calc(100vh - 80px);
        top: 80px;
        left: -1000px;
        width: 616px;
        padding: 56px;
    }


    .right {
        padding: 0;
        padding-top: 80px;
    }
    
}

@media (width < 770px) {

    .container {
        width: 100%;
        padding: 0 16px;
    }

    .all-invoices {
        padding: 32px 16px;
        gap: 32px;
    }

    .invoice-item {
        grid-template-columns: 1fr 1fr;
        height: auto;
        padding: 16px;
        gap: 8px;
    }

    .filter-and-new-invoices {
        > select {
            display: none;
        }
    }

    .invoice-page {
        padding: 16px 0;
        > header {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            > div:nth-child(2) {
                flex-direction: column;
            }
        }
        > main {
            padding: 24px;
        }
    }

    .invoice-details {
        grid-template-columns: 1fr;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .invoice-results {
        padding: 16px;
        > div {
            grid-template-columns: 1fr 1fr;
            gap: 8px;
        }
        > div:first-child {
            display: none;
        }
    }

    .invoice-total {
        padding: 16px;
    }

    .modal {
        width:  350px;
        padding: 32px;
    }

    .open-bar {
        width: 100%;
        padding: 32px;
        transition: all .5s;
        > form {
            width: 100%;
        }
    }
    
}